{{>header}} <!-- Подстановка содержимого файла header.mustache -->
<div class="container">
    <div class="py-2 text-center">
        <h1>{{title}}</h1> <!-- вставка из свойства title-->
    </div>
    <div class="container">
        <div class="text-center mb-4"></div>
    </div>
    <!-- вставка из свойства route_url и data.id -->
     <form method="POST" action="{{route_url}}/add" enctype="application/x-www-form-urlencoded">
                    <p>Widget name: <input type="text" name="name" id="name" size="25" value="{{data.name}}" required /></p>
                    <p>Widget Price: <input type="text" pattern="\d+(,\d{2})?" name="price" id="price" size="25" value="{{data.price}}" required /></p>
                        <p>Widget Description: <br />
                        <textarea name="desc" cols="40" rows="5" placeholder="No description available">{{data.desc}}</textarea>
                        <p>
                            <input class="btn btn-primary" type="submit" name="edit" id="submit" value="Edit"/>
                                <!-- вставка из свойства route_url --> <a href="{{route_url}}/" class="btn btn-secondary">Reset</a>
                        </p>

                </form>
   </div>
</div>
{{>footer}} <!-- Подстановка содержимого файла footer.mustache -->