<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
       <div class="row">
         <div class="col-12">
           <div class="">
            
             <nav> 
       		 	<ul class="breadcrumb">
      				<li class="breadcrumb-item"><a href="../index.php" rel="home"> Главная </a></li>
      				<li class="breadcrumb-item active" aria-current="page"> Бонусная программа </li>
      		 	</ul>
             </nav>
             
       		 <!--<ul class="breadcrumbs">
      			<li><a href="index.php" rel="home"> Главная </a></li>
      			<li> Бонусы </li>
      		 </ul>-->
      
             <h3 style="text-align:center; margin:20px 0px;">Бонусная программа</h3>
  
      		<div class="container">
   
			<p> <h6 style="font-weight:bold;">1 бонус = 1 рублю для будущих покупок. </h6>	
        	<p><span style="font-size:14px;">Для того, чтобы стать участником бонусной программы, необходимо зарегистрироваться на нашем сайте и пройти авторизацию.</span></p>
			<p style="font-size:14px;">
				При покупке любого товара (независимо от уже имеющихся скидках и акциях) в интернет-магазине, на Ваш бонусный счёт будет зачисляться 2% от стоимости товара, с которого в любой момент и без ограничений, Вы можете оплатить будущие покупки. Количество уже  имеющихся баллов, можно увидеть в личном кабинете или в корзине при оформлении заказа.
			</p>
			<span style="font-weight:bold;color:#FF0000;font-size:14px;">
  				Срок действия бонусной программы не ограничен!       
      		</span>
 			<br/>       
        	<h6 style="font-weight:bold;">Остались вопросы? </h6>
			<p style="font-size:14px;">         
        	<br/><span style="font-size:14px;"> Позвоните нам по телефону: </span> <span style="font-weight:bold;font-size:14px;"> 8 (812) 972-16-12 </span>
      		<br/><span style="font-size:14px;"> Свяжитесь с нами по Скайп: </span> <span style="font-size:14px;"> <a href="skype:Gymland?call" title="Позвонить по Скайп!"> gymland-shop </a> </span>
        	<br/><span style="font-size:14px;"> Напишите нам на почту: </span> <span style="font-size:14px;"> <a href="mailto:gymland@shop.ru" title="Почта для связи"> gymland@shop.ru </a> </span>          
       		</p>      
         
      		</div>
   		</div>     
      </div>
	</div>
</div>
    <?php require("templates/right-menu.php"); ?>
</div>
  </div>


<div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Наши преимущества</h3>
    <div class="container">
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="send.php" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="oplata.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="katalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="sale.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>
</div>

<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;"><h3 style="text-align:center; margin:20px 0px;">Адреса магазинов</h3>
     <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SBMCoFRtTod7zUZ_Uiq5nC_qNqtHBwjN&width=100%&height=550">        </script>
    </div>
  </div>
</div>  