<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
       <div class="row">
         <div class="col-12">
           <div class="">
            
             <nav> 
       		 	<ul class="breadcrumb" style="background-color: #fff !important;">
      				<li class="breadcrumb-item"><a href="../index.php" rel="home"> Главная </a></li>
      				<li class="breadcrumb-item active" aria-current="page"> Доставка </li>
      		 	</ul>
             </nav>
             
       		 <!--<ul class="breadcrumbs">
      			<li><a href="index.php" rel="home"> Главная </a></li>
      			<li> Доставка </li>
      		 </ul>-->
      
             <h3 style="text-align:center; margin:20px 0px;">Способы доставки</h3>
  
      		<div class="container">
   
              <h6> 1. Доставка товара курьером по Санкт-Петербургу. </h6> 
              <p>
              <b style="font-size:16px">- Курьерская доставка по Санкт-Петербургу </b> - <font color="#FF0000"> <b> 200 рублей.</b> </font>
              <br/>
              <br/>Доставка осуществляется по Санкт-Петербургу в пределах КАД (куда не входят: Кронштадт, Ломоносов, Стрельна, Кудрово, Парголово, Лисий Нос, Приморское шоссе) курьерской службой в течении <b> 1-2 </b> дней после оформления заказа. Доставка происходит ежедневно, без выходных. Время доставки <font color="#FF0000"><b> с 11-00 до 20-00.</b></font>
              <br/>
              <br/><b style="font-size:16px">- Срочная курьерская доставка по Санкт-Петербургу - </b> <font color="#FF0000"> <b> 500 рублей. </b> </font>
              <br/>
              <br/>Мы доставим заказанные Вами товары по Санкт-Петербургу в пределах КАД (куда не входят: Кронштадт, Ломоносов, Стрельна, Кудрово, Парголово, Лисий Нос, Приморское шоссе) курьерской службой в течении <b> 1-2 </b> дней после формирования заказа. Доставка происходит ежедневно, без выходных. Время доставки <font color="#FF0000"><b> с 11-00 до 20-00.</b></font>
              <br/>
              </p>
               <h6> 2. Доставка EMS и Почтой России во все регионы страны. </h6>
              <p><b style="font-size:16px">- Доставка по ближайшим пригородам Санкт-Петербурга. </b>
              <br/>
              <br/>Мы доставим заказанные Вами товары по ближайшим пригородам Санкт-Петербурга куда входят: Зеленогорск, Колпино, Красное село, Кронштадт, Ломоносов, Павловск, Петергоф, Пушкин, Сестрорецк, Александровская, Белоостров, Комарово, Левашово, Лисий нос, Металлострой, Молодежное, Парголово, Петрославянка, Песочный, Понтонный, Репино, Саперный, Серово, Смолячково, Стрельна, Тярлево, Усть-Ижора, Ушково, Шушары, Кудрово, Приморское шоссе) курьерской службой «EMS Почтой России» в течении <b> 2-5 </b> дней после оформления заказа. Доставка происходит ежедневно, без выходных. Время доставки с <font color="#FF0000"><b> с 11-00 до 20-00.</b></font>
              <br/>
              <br/><b style="font-size:16px">- Доставка по Ленинградской области и России осуществляется курьерской службой «EMS Почта России». Цена рассчитывается на каждый заказ отдельно. </b>
              <br/>
               <!-- <b><font color="#FF0000">Внимание! Доставка по Ленинградской области и России осуществляется только при 100% предоплате заказа.</b> </font>-->
              <br/>
              Стоимость доставки зависит от местоположения конечного пункта и веса посылки. Вы оплачиваете весь заказ (сам товар и его доставку) на сайте магазина (Банковскими картами, Яндекс.Денгами, WebMoney или через любой банк). Точную сумму доставки Вы сможете узнать у менеджера при оформлении заказа, а так же на сайте EMS Почты России.
              <br/>
              </p>

              <h6> 3. Самовывоз. </h6>
              <p><b style="font-size:16px">- Самовывоз товара из пунктов выдачи - <font color="#FF0000"; size="+0.7"> <b> бесплатно </b> </font> </b>
              <br>
              <br/>Мы доставим заказанные Вами товары в выбранный Вами пункт самовывоза в течении <b>2</b> дней.
              При поступлении товара менеджер уведомит Вас по телефону. 
              </p> 
              
              <h6> Адреса пунктов самовывоза:</h6>
              <ul class="adresses_delivery_points">
              <li><b>Пункт на Северном.</b> Северный проспект, 8к1, Санкт-Петербург </li>
              <li><b>Пункт на Луначарского.</b> Проспект Луначарского, 17, Санкт-Петербург </li>
              <li><b>Пункт на Невском.</b> Невский проспект, 56, Санкт-Петербург </li>
              <li><b>Пункт на Московском.</b> Московский проспект, 17В, Санкт-Петербург </li>
              <li><b>Пункт на Дыбенко.</b> Улица Дыбенко, 17к1, Санкт-Петербург </li>
              </ul>     
         
      		</div>
   		</div>     
      </div>
	</div>
</div>
    <?php require("templates/right-menu.php"); ?>
</div>
  </div>


<div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Наши преимущества</h3>
    <div class="container">
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="send.php" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="oplata.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="katalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="sale.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>
</div>

<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;"><h3 style="text-align:center; margin:20px 0px;">Адреса магазинов</h3>
     <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SBMCoFRtTod7zUZ_Uiq5nC_qNqtHBwjN&width=100%&height=550">        </script>
    </div>
  </div>
</div>  