<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
       <div class="row">
         <div class="col-12">
           <div class="">
            
             <nav> 
       		 	<ul class="breadcrumb" style="background-color: #fff !important;">
      				<li class="breadcrumb-item"><a href="../index.php" rel="home"> Главная </a></li>
      				<li class="breadcrumb-item active" aria-current="page"> Контакты </li>
      		 	</ul>
             </nav>
             
       		 <!--<ul class="breadcrumbs">
      			<li><a href="index.php" rel="home"> Главная </a></li>
      			<li> Контакты </li>
      		 </ul>-->
      
             <h3 style="text-align:center; margin:20px 0px;">Контакты</h3>
  
      		<div class="container">
   
			  <p>
              <b>"Gymland.ru" </b> - интернет-магазин, специализирующийся на продаже спортивного питания, одежды и других товаров необходимых для занятия спортом. Мы готовы предложить Вам - качественный продукт, большой ассортимент, быструю доставку, обратную связь и высокий уровень обслуживания.
              <br>
              <br/>У нас Вы можете приобрести :<b> гейнеры, протеин, аминокислоты, гармон роста, спортивные батончики, гели, и многое другое.</b>  Мы постоянно обновляем свой ассортимент и проводим еженедельные акции на продукции из нашего каталога.
              <br/>
              <br/><b>Контактные данные:</b>
              </p>
              
              <ul>
              <li><b> Телефон: <font color="#FF0000"> 8 (812) 972-16-12 </font></b></li>
              <li><b> E-mail:  <font color="#FF0000"> gymland@shop.ru </font></b></li> 
              <li><b> Skype:   <font color="#FF0000"> gymland-shop  </font></b></li>
              <li><b> ICQ:     <font color="#FF0000"> 129657534 </font></b></li>
              </ul>
              
              <p>
              <b>Режим работы интернет магазина "Gymland.ru"</b>
              <br/>
              <br/>Заказы на сайте Вы можете оформлять <b>24 часа в сутки</b>, ежедневно без выходных.  
              <br/>
              Менеджеры интернет-магазина свяжутся с Вами для подтверждения заказа в рабочее время:
              </p>  
              <p>
                        Пн - Пт: <b>с 09-00 до 22-00.</b>   
                  <br/> Сб - Вс: <b>с 11-00 до 18-00.</b>
              </p>
              <p>Вопросы и пожелания по E-mail принимаются круглосуточно, адрес электронной почты:
              <br/>E-mail: <font color="#FF0000"><b> shop@gymland.ru  </b></font>
              </p>  
              <p><b>Реквизиты интернет-магазина "Gymland.ru" </b>

              <br/>ООО "ДжимЛэнд" 
              <br/>ИНН - 7802568654  
              <br/>ОГРН - 306784040304521 
              <br/>ОКПО - 0154264890
              </p>  
              
              <p><b>Банковские реквизиты:</b> <a href="kvitanciya.doc" target="_blank"> Скачать квитанцию об оплате в банке </a>
              <br/>р/с - 40802810441100000189
              <br/>ПАО "Банк-Санкт-Петербург"
              <br/>г. Санкт-Петербург
              <br/>к/с - 30101810600000000125
              <br/>БИК - 044034518
              </p>   
         
      		</div>
   		</div>     
      </div>
	</div>
</div>
    <?php require("templates/right-menu.php"); ?>
</div>
  </div>


<div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Наши преимущества</h3>
    <div class="container">
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="send.php" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="oplata.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="katalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="sale.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>
</div>

<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;"><h3 style="text-align:center; margin:20px 0px;">Адреса магазинов</h3>
     <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SBMCoFRtTod7zUZ_Uiq5nC_qNqtHBwjN&width=100%&height=550">        </script>
    </div>
  </div>
</div>  