<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
       <div class="row">
         <div class="col-12">
           <div class="">
            
             <nav> 
       		 	<ul class="breadcrumb" style="background-color: #fff !important;">
      				<li class="breadcrumb-item"><a href="../index.php" rel="home"> Главная </a></li>
      				<li class="breadcrumb-item active" aria-current="page"> Оплата </li>
      		 	</ul>
             </nav>
             
       		 <!--<ul class="breadcrumbs">
      			<li><a href="index.php" rel="home"> Главная </a></li>
      			<li> Оплата </li>
      		 </ul>-->
      
             <h3 style="text-align:center; margin:20px 0px;">Способы оплаты</h3>
  
      		<div class="container">
   
              <b>
              <ul>
                  <li> Оплата наличными курьеру </li>
                  <li> Банковские карты </li> 
                  <li> Яндекс. Деньги </li>
                  <li> WebMoney </li>
                  <li> Банковский перевод </li>
                  <li> Оплата наложным платежом </li>
              </ul>
              </b>
           
              <b> <h6> 1. Оплата наличными курьеру</h6>  </b>
              <p>
               Вы можете оплатить покупку наличными курьеру при получении товара.
              </p> 

              <b> <h6> 2. Банковские карты</h6> </b>
              <p>
              <b>Оплата по банковским картам производится с помощью системы электронных платежей Робокасса.</b>
              </p> 
              <p>
               Наш Интернет-магазин принимает к оплате банковские карты платежных систем <b>VISA, Master Card.</b> В случае выбора данного способа оплаты на сайте интернет-магазина, Вы сможете произвести ее зайдя в корзину и выбрав в качестве способа оплаты <b >"Банковская карта"</b>.

              <br/>Для совершения оплаты необходимо ввести номер карты, имя владельца карты, срок действия карты и CVV код (номер на обратной стороне карты).
              <br/>

              <br/><b> <font color="#FF0000"> Внимание! </font> </b>
              <br/><ul>
                  <li>Карта не может быть передана для оплаты заказа третьему лицу. </li>
                  <li>Подпись на Карте должна совпадать с подписью Клиента в паспорте (или ином документе, удостоверяющем личность). </li>
                  <li>При совершении операции с использованием Карты производятся определенные действия: авторизация операции; проверка номера Карты на отсутствие в Стоп-листе; правильность ввода ПИН-кода; соответствие номера на Карте данным чека POS-терминала, сравнение подписи на Карте и чеке. 
                  <br/>Кассир имеет право попросить представить документ, удостоверяющий личность клиента, если для проведения оплаты не используется не именная банковская карта.</li>
                  </ul>

              <b> <h6> 3. Яндекс.Деньги </h6></b>
              <p>
              <b>Яндекс. Деньги — </b>это платежная система, которая позволяет совершать безопасные платежи в интернете и надежно хранить всю информацию о ваших зачислениях и платежах.  
              <br/>

              Управлять своими средствами в <b> Яндекс.Деньгах </b> можно прямо на сайте <a href="http://money.yandex.ru."> <b> money.yandex.ru. </b> </a>

              В данном случае оплата производится напрямую с помощью системы <b>Яндекс. Деньги</b>. 

              Выбрав данный способ оплаты на сайте интернет-магазина, Вы сможете перейдя в корзину и выбрав в качестве способа оплаты <b> Яндекс. Деньги </b>.

              Далее Вы автоматический перейдете на привычный для Вас сервис Яндекс. Деньги, где и произведете оплату. Для этого Вам необходимо иметь активный кошелек на <b> Яндекс. Деньги </b>.
              </p>
              <b><h6> 4. WebMoney</h6></b>
              <p>
              <b> WebMoney — </b>это система мгновенных расчетов через Интернет. 
              <br/>

              Чтобы стать участником системы <b>WebMoney Transfer</b>, необходимо установить на своем персональном компьютере, КПК или мобильном телефоне клиентский интерфейс, зарегистрироваться в системе и принять ее условия, получив при этом WM-идентификатор - Ваш уникальный номер. 
              <br/>
              В данном случае оплата производится напрямую с помощью системы <b>WebMoney</b>.
              <br/>
              Выбрав данный способ оплаты на сайте интернет-магазина, Вы сможете произвести его сразу после подтверждения заказа менеджером. Для этого необходимо в личном кабинете зайти на созданный заказ и нажать на кнопку оплатить с помощью <b>WebMoney</b>.
              <br/>
              Далее Вы автоматически перейдете на привычный для Вас сервис <b>WebMoney</b>, где и произведете оплату. Для этого Вам необходимо иметь активный кошелек на <b>WebMoney</b>.
              </p>
              <b><h6> 5. Банковский перевод</h6></b>
              <p>
              Это наиболее простой и, в то же время, долгий способ оплаты. 
              <br>
              С момента внесения средств до момента их зачисления на счет интернет-магазина проходит от одного до трех банковских дней.
              <br>
              Выбрав данный способ оплаты на сайте интернет-магазина, Вам необходимо <a href="kvitanciya.doc" target="_blank"> распечатать квитанцию </a> на оплату. Вы можете оплатить заказ в любом банке. Требуемую сумму необходимо внести на расчетный счет компании. С реквизитами компании можно ознакомиться <a href="contact.php"> здесь</a>. 
              <br>
              Оплатить счет по этой квитанции можно в любом отделении Сбербанк или в другом любом банке России. 

              </p>
              <p>
              <b> <font color="#FF0000"> Внимание! </font> </b>
              <br/>
                  <br> Срок перевода денег на наш счет - <b>3  банковских дня </b> (т.е. три рабочих дня без учета выходных и праздников). Просьба учитывать это при расчете сроков доставки заказа. После поступления оплаты мы высылаем Ваш заказ в тот же день.
                  При переводе денежных средств банк берет за услуги перевода комиссию в размере <b>1- 3 %</b> от стоимости заказа.
              </p>

              <b><h6> 6. Оплата наложным платежом через Почту России</h6></b>      
         
      		</div>
   		</div>     
      </div>
	</div>
</div>
    <?php require("templates/right-menu.php"); ?>
</div>
  </div>


<div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Наши преимущества</h3>
    <div class="container">
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="send.php" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="oplata.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="katalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="sale.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>
</div>

<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;"><h3 style="text-align:center; margin:20px 0px;">Адреса магазинов</h3>
     <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SBMCoFRtTod7zUZ_Uiq5nC_qNqtHBwjN&width=100%&height=550">        </script>
    </div>
  </div>
</div>  