<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;">
      <div class="owl-carousel owl-carousel-head owl-theme">
       <div class="item"> <img src="../img/slaider/1_slaider.jpg" width="100%" height="" alt="" /> </div>
       <div class="item"> <img src="../img/slaider/2_slaider.jpg" width="100%" height="" alt="" /> </div>
       <div class="item"> <img src="../img/slaider/3_slaider.jpg" width="100%" height="" alt="" /> </div>
      </div>
    </div>
  </div>  
</div>

<!--<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
      <h3 style="text-align:center; margin:20px 0px;">Товары недели</h3>
        <div class="row">-->
          
        <? 
        /* for ($i=0;$i<12;$i++) {
          echo "<div class='col-md-3'>
          
            <div class='container-fluid'> 
             <div class='tovar-week' style='margin-top:20px;'>
              <form action='' method='post' class='tovary_week_form'>
                <div class='item'>
                 <div class='item-cont'>
                   <span class='vendor'> Cellucor </span>
                   <div class='picture'><a href='../products/Cellucor-C4 Extreme-360.php?items=93'>
                     <img src='../photos/93.jpeg'></a></div><div class='title_tovar' />
                     <a href='../products/Cellucor-C4 Extreme-360.php?items=93'>C4 Extreme </a>
                   </div>
                   <div class='price'>
                   <br>
                    <span class='price_tovar'> 1930 руб. </span>
                    <br><span class='old_price_tovar'> 2250 руб. </span>
                    <br><span class='bonus_price_tovar'> + 39 бонусов </span>
                   </div>
                   <div>
                    <span class='summary'> Креатин, 360 гр. </span>
                   </div>  
                 </div>
                 <div class='buy_tovar'>
                  <select name='preference[]'>
                   <option value='Выберите вкус'>Выберите вкус</option>
                  </select>
                 </div>  
                 <div class='buy_tovar'>  
                   <div class='amount'>
                    <span class='minus'>
                     <div class='amount_minus amount_minus_right'>
                       <a href='#' class='icon icon-minuss'>–</a>
                     </div>
                    </span>
                 <div class='amount_text'>
                  <input type='text' value='1' name='kol[93]' size='5'>
                 </div>
                  <span class='plus'>
                    <div class='amount_plus amount_plus_right'>
                     <a href='#' class='icon icon-pluss'>+</a>
                    </div>
                  </span>
                 </div>
                 <div class='buy' id='btn-click'>
	               <a href='?submit_buy=93'>
                    <button name='submit_buy' value='93' class='btn btn-7 btn-3 btn-icon-only icon-cart'></button>
                   </a>      
                 </div>
                </div>
              </form>
             </div>        
            </div>
          </div>
          
          </div>";
         } */
        ?>
          
      <!--</div>  
    </div>
  </div>  
</div>-->

<!--<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9 d-none d-md-block">
      <h3 style="text-align:center; margin:20px 0px;">Товары недели</h3>
       <div class="row"> --> 
        <? 
         /* for ($i=0;$i<12;$i++) {
          echo "<div class='col-md-3'>
          
            <div class='container-fluid'> 
             <div class='tovar-week' style='margin-bottom:25px;'>
              <form action='' method='post' class='tovary_week_form'>
                <div class='item'>
                 <div class='item-cont'>
                   <span class='vendor'> Cellucor </span>
                   <div class='picture'><a href='../products/Cellucor-C4 Extreme-360.php?items=93'>
                     <img src='../photos/93.jpeg'></a></div><div class='title_tovar' />
                     <a href='../products/Cellucor-C4 Extreme-360.php?items=93'>C4 Extreme </a>
                   </div>
                   <div class='price'>
                   <br>
                    <span class='price_tovar'> 1930 руб. </span>
                    <br><span class='old_price_tovar'> 2250 руб. </span>
                    <br><span class='bonus_price_tovar'> + 39 бонусов </span>
                   </div>
                   <div>
                    <span class='summary'> Креатин, 360 гр. </span>
                   </div>  
                 </div>
                 <div class='buy_tovar'>
                  <select name='preference[]'>
                   <option value='Выберите вкус'>Выберите вкус</option>
                  </select>
                 </div>  
                 <div class='buy_tovar'>  
                   <div class='amount'>
                    <span class='minus'>
                     <div class='amount_minus amount_minus_right'>
                       <a href='#' class='icon icon-minuss'>–</a>
                     </div>
                    </span>
                 <div class='amount_text'>
                  <input type='text' value='1' name='kol[93]' size='5'>
                 </div>
                  <span class='plus'>
                    <div class='amount_plus amount_plus_right'>
                     <a href='#' class='icon icon-pluss'>+</a>
                    </div>
                  </span>
                 </div>
                 <div class='buy' id='btn-click'>
	               <a href='?submit_buy=93'>
                    <button name='submit_buy' value='93' class='btn btn-7 btn-3 btn-icon-only icon-cart'></button>
                   </a>      
                 </div>
                </div>
              </form>
             </div>        
            </div>
          </div>
          
          </div>";
         } */
        ?>
          
   <!--   </div>
    </div>
  </div>
</div>  -->
<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
       <div class="row">
         <div class="col-md-12 d-none d-sm-block">
           <h3 style="text-align:center; margin:20px 0px;">Товары недели</h3>
           <div class="row" id="content">
            
        <?
             
            $res = $db->query("SELECT * FROM tovary WHERE tovar_week='1' AND product_availability='1' LIMIT 4");
            //$res = $db->query("SELECT * FROM tovary WHERE tovar_week='1' AND product_availability='1' LIMIT 12");
             
            //$result = mysqli_query($link, 'SELECT Name, Population FROM City ORDER BY Population DESC LIMIT 5')
           
         //for ($i=0;$i<12;$i++) {
        while($tovar_week = mysqli_fetch_assoc($res)){
          	if ($tovar_week['cena_sale']==0) 
				{        
					$bonus=$tovar_week['cena']*2/100;
					$bonus=ceil($bonus);  
				} else if ($tovar_week['cena_sale']!==0) 
				{
					$bonus=$tovar_week['cena_sale']*2/100;
					$bonus=ceil($bonus); 
				} 
  
			if ($tovar_week['mass']=='0') $tovar_week['mass']='';  
			$preference = explode(",", $tovar_week[preference]);
            foreach($preference as $tovar_week[preference]) {}
          
          echo "<div class='col-12 col-sm-4 col-md-4 col-xl-3'>
          
            <div class='container-fluid'> 
             <div class='tovar-week' style='margin-bottom:25px;'>
              <!--<form class='tovary_week_form'>-->
              <div class='item_box'>
                <div class='item'>
                 <div class='item-cont'>
                   <span class='vendor'> $tovar_week[manuf] </span>
                   <div class='picture'>
                   	 <a href='../catalog.php?product_eng=$tovar_week[product_eng]&category_eng=$tovar_week[category_eng]&manuf_eng=$tovar_week[manuf]&nazv=$tovar_week[nazv]&mass=$tovar_week[mass]&id=$tovar_week[id]'>
                     	<img src='../photos/$tovar_week[photo]' style='height: 100px; margin-left:5px;' />
                     </a>
                   </div>
                   <div class='title_tovar'>
                    <p>
                     <a href='../catalog.php?product_eng=$tovar_week[product_eng]&category_eng=$tovar_week[category_eng]&manuf_eng=$tovar_week[manuf]&nazv=$tovar_week[nazv]&mass=&id=$tovar_week[id]'>$tovar_week[nazv] </a>
                    </p> 
                   </div>
                   <div class='price'>
                   <br/>";
                      if ($tovar_week[cena_sale]!=0) {

                        echo "<br/><span class='price_tovar'> $tovar_week[cena_sale] руб. </span>
                        <br/><span class='old_price_tovar' > $tovar_week[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";

                      } else { 

                        echo "<br/><span class='price_tovar_standart' > $tovar_week[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";  

                      }                  
                echo "</div>
                   <div>
                    <span class='summary'> $tovar_week[category], $tovar_week[mass] $tovar_week[unit]. </span>
                   </div>  
                 </div>
                 <div class='buy_tovar'>";
                  echo "<select name='preference[$tovar_week[id]]' id='item_preference[$tovar_week[id]]'>";
	  
						foreach($preference as $tovar_week[preference])
    						{
        						echo "<option value='$tovar_week[preference]'>$tovar_week[preference]</option>";
    						}
				  echo "</select>";
                 echo "</div>  
                 <div class='buy_tovar'>  
                   <div class='amount'>
                    <span class='minus'>
                     <div class='amount_minus amount_minus_right'>
                       <a href='#' class='icon icon-minuss'>–</a>
                     </div>
                    </span>
                 <div class='amount_text'>
                  <input type='text' value='1' name='kol[$tovar_week[id]]' size='5' class='amount' id='kol[$tovar_week[id]]' />
                 </div>
                  <span class='plus'>
                    <div class='amount_plus amount_plus_right'>
                     <a href='#' class='icon icon-pluss'>+</a>
                    </div>
                  </span>
                 </div>";
                 /*<div class='buy' id='btn-click'>
	               <a href='?submit_buy=$tovar_week[id]'>
                    <button name='submit_buy' value='$tovar_week[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week[id]' data-price='$tovar_week[cena_sale]' data-title='$tovar_week[nazv], $tovar_week[mass] $tovar_week[unit]' data-img='$tovar_week[photo]'></button>
                   </a>      
                 </div>*/
                 
                 if ($tovar_week[cena_sale]!=0) {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_week[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week[id]' data-price='$tovar_week[cena_sale]' data-old-price='$tovar_week[cena]' data-title='$tovar_week[nazv], $tovar_week[mass] $tovar_week[unit]' data-img='$tovar_week[photo]'></button>
                 </div>";
                 } else {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_week[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week[id]' data-price='$tovar_week[cena]' data-old-price='0' data-title='$tovar_week[nazv], $tovar_week[mass] $tovar_week[unit]' data-img='$tovar_week[photo]'></button>
                 </div>";
                 }
                 
               echo "</div>
               </div> 
              <!--</form>-->
             </div>        
            </div>
          </div>
          
          </div>";
         }
          
             
        ?>
             <!--<p><button id="checkout">Оформить заказ</button> &nbsp; <button id="clear_cart">Очистить корзину</button></p>
             <div id="cart_content" style="width:300px; height:300px; border:1px solid;"></div>-->
             <!--<h1 id="time">Итог - <div id="amountItems"></div> </h1>-->
             
             <!--<div class="cart_with_tovary">
             	<div id="my_cart" style="width:100%; height:100%; border:1px solid;"></div>
             </div>-->
             
             		<!--<script type="text/javascript">
               	
                        var d = document,
                          //itemBox = d.querySelectorAll('.item'), // блок каждого товара
                          itemBox = d.querySelectorAll('.item_box'),
                          cartCont = d.getElementById('cart_content'), // блок вывода данных корзины
                          my_cart = d.getElementById('my_cart'),
                          cartAmount = d.getElementById('amountItems');
                    // Функция кроссбраузерной установка обработчика событий
                    function addEvent(elem, type, handler){
                      if(elem.addEventListener){
                        elem.addEventListener(type, handler, false);
                      } else {
                        elem.attachEvent('on'+type, function(){ handler.call( elem ); });
                      }
                      return false;
                    }
                    // Получаем данные из LocalStorage
                    function getCartData(){
                      return JSON.parse(localStorage.getItem('cart'));
                    }
                    // Записываем данные в LocalStorage
                    function setCartData(o){
                      localStorage.setItem('cart', JSON.stringify(o));
                      return false;
                    }
                    // Добавляем товар в корзину
                    function addToCart(e){
                      this.disabled = true; // блокируем кнопку на время операции с корзиной
                      var cartData = getCartData() || {}, // получаем данные корзины или создаём новый объект, если данных еще нет
                          parentBox = this.parentNode, // родительский элемент кнопки "Добавить в корзину"
                          itemId = this.getAttribute('data-id'), // ID товара
                          itemTitle = this.getAttribute('data-title'), // название товара
                          itemPrice = this.getAttribute('data-price'), // стоимость товара
                          itemPriceOld = this.getAttribute('data-old-price'), // старая стоимость товара
                          itemImg = this.getAttribute('data-img'), // картинка товара
                          itemPreference = document.getElementById('item_preference['+ this.getAttribute('data-id') +']').value,
                          itemKol = document.getElementById('kol['+ this.getAttribute('data-id') +']').value;
                          itemKol = parseInt(itemKol, 10);
                          itemId = parseInt(itemId, 10);
                      if(cartData.hasOwnProperty(itemId)){ // если такой товар уже в корзине, то добавляем +1 к его количеству
                        	cartData[itemId][2] += itemKol;
                      } else { // если товара в корзине еще нет, то добавляем в объект
                        cartData[itemId] = [itemTitle, itemPrice, itemKol, itemImg, itemPriceOld, itemPreference, itemId];
                      }
                      if(!setCartData(cartData)){ // Обновляем данные в LocalStorage
                        this.disabled = false; // разблокируем кнопку после обновления LS
                      }
                      
                       var totalItems = '';
                      // если что-то в корзине уже есть, начинаем формировать данные для вывода
                      if(cartData !== null){
                        totalItems = '<table class="shopping_list"><tr><th>Наименование</th><th>Цена</th><th>Кол-во</th></tr>';
                        for(var items in cartData){
                          totalItems += '<tr>';
                          for(var i = 0; i < cartData[items].length; i++){
                            totalItems += '<td>' + cartData[items][i] + '</td>';
                          }
                          totalItems += '</tr>';
                        }
                        totalItems += '</table>';
                        cartCont.innerHTML = totalItems;
                      } else {
                        // если в корзине пусто, то сигнализируем об этом
                        cartCont.innerHTML = 'В корзине пусто!';
                      } 
                      
                       var cartValue = getCartData();
                       var amountValue = 0;
                       var amountPrice = 0;
                       for(var items in cartValue){
                         //console.log(cartValue[items]);
                         //console.log(cartValue[items][2]);
                         amountValue += cartValue[items][2];
                         amountPrice += cartValue[items][1] * cartValue[items][2];
                       }  
                       document.getElementById("total_amount_mobile").innerHTML = amountValue;
                       document.getElementById("total_amount").innerHTML = amountValue;
                       document.getElementById("total_price").innerHTML = amountPrice;
                      
                      
               		   var totalCartItems = '';
                       var cartTable = getCartData();
                       if(cartTable !== null){
                       totalCartItems = '<table class="my_cart_tovary"><tr class="title_cart"><td class="tovar"> Товар </td><td class="name_tovarov"> Название </td><td class="amount_tovarov"> Количество </td><td class="taste_tovarov"> Вкус, объём или размер </td><td class="price_tovarov"> Цена </td><td class="action"> Действие </td></tr>';
                        for(var items in cartTable){
                          totalCartItems += '<tr>';
                          //totalCartItems += '<td class="photo_tovarov">' + cartTable[items][3] + '</td>';
                          totalCartItems += '<td class="photo_tovarov"><img src="../photos/'+ cartTable[items][3] +'" width="60" height="80"/></td>';
                          totalCartItems += '<td class="name_tovarov_content"><a href="../products/'+ cartTable[items][0] +'">'+ cartTable[items][0] +' гр. </a></td>';
                          totalCartItems += '<td class="amount_tovarov_content"><div class="amount_cart"><span class="minus"><div class="amount_minus amount_minus_right"><a href="#" class="icon icon-minuss">–</a></div></span><div class="amount_text"><input type="text" value="' + cartTable[items][2] + '" name="kol[149]" size="5"></div><span class="plus"><div class="amount_plus amount_plus_right"><a href="#" class="icon icon-pluss">+</a></div></span></div></td>';
                          totalCartItems += '<td class="taste_tovarov_content">' + cartTable[items][5] + '</td>';
                          if (cartTable[items][4] !== 0) {
                          totalCartItems += '<td class="price_tovarov_content"> <span class="cena_sale"> ' + cartTable[items][1] + ' руб.</span> <br> <span class="cena_old"> ' + cartTable[items][4] + ' руб.</span> </td>';
                          } else {
                          totalCartItems += '<td class="price_tovarov_content"> <span class="price_tovar_standart"> ' + cartTable[items][1] + ' руб.</span></td>';
                          }
                          totalCartItems += '<td class="delete"><!--<a href="?del_cart='+ cartTable[0] +'" title="Удалить товар из корзины"> Удалить </a>--><!--<button id="delete_item_cart[' + cartTable[items][6] + ']">Удалить товар</button></td>';
                          
                          for(var i = 0; i < cartTable[items].length; i++){
                            //totalCartItems += '<td>' + cartTable[items][i] + '</td>';
                          }
                          totalCartItems += '</tr>';
                        }
                        totalCartItems += '<tr class="footer_cart"><td></td><td></td><td></td><td class="itogo"> Итого: </td><td class="itogo_cena">'+ amountPrice +' руб. </td><td class="clear_cart"><!--<a href="?clear_cart=ok" title="Очистить корзину" id="clear_cart"> Очистить корзину </a>--><!--<button id="clear_cart">Очистить корзину</button></td></tr>';
                        totalCartItems += '</table>';
                        my_cart.innerHTML = totalCartItems;
                      } else {
                        // если в корзине пусто, то сигнализируем об этом
                        my_cart.innerHTML = 'В корзине пусто!';
                      } 
                                                               
                     return false;
                    }
                      
                      
                    // Устанавливаем обработчик события на каждую кнопку "Добавить в корзину"
                    for(var i = 0; i < itemBox.length; i++){
                      addEvent(itemBox[i].querySelector('.add_item'), 'click', addToCart);
                    }
                     
                      
                      //  var cartItems = JSON.parse(localStorage.getItem('cart'));
					//	var itemsQuantity = cartItems.length;
                      var cartData = getCartData(); // вытаскиваем все данные корзины
                      if(cartData !== null){
                        totalItems = '<table class="shopping_list"><tr><th>Наименование</th><th>Цена</th><th>Кол-во</th></tr>';
                        for(var items in cartData){
                          totalItems += '<tr>';
                          for(var i = 0; i < cartData[items].length; i++){
                            totalItems += '<td>' + cartData[items][i] + '</td>';
                          }
                          totalItems += '</tr>';
                        }
                        totalItems += '</table>';
                        cartCont.innerHTML = totalItems;
                      } 
                    
                      
                      
             /*  var totalCartItems = '';
               var cartTable = getCartData();
               if(cartTable !== null){
               totalCartItems = '<table class="my_cart_tovary"><tr class="title_cart"><td class="tovar"> Товар </td><td class="name_tovarov"> Название </td><td class="amount_tovarov"> Количество </td><td class="taste_tovarov"> Вкус, объём или размер </td><td class="price_tovarov"> Цена </td><td class="action"> Действие </td></tr>';
                        for(var items in cartTable){
                          totalCartItems += '<tr>';
                          //totalCartItems += '<td class="photo_tovarov">' + cartTable[items][3] + '</td>';
                          totalCartItems += '<td class="photo_tovarov"><img src="../photos/'+ cartTable[items][3] +'" width="60" height="80"/></td>';
                          totalCartItems += '<td class="name_tovarov_content"><a href="../products/'+ cartTable[items][0] +'">'+ cartTable[items][0] +' гр. </a></td>';
                          totalCartItems += '<td class="amount_tovarov_content"><div class="amount_cart"><span class="minus"><div class="amount_minus amount_minus_right"><a href="#" class="icon icon-minuss">–</a></div></span><div class="amount_text"><input type="text" value="' + cartTable[items][2] + '" name="kol[149]" size="5"></div><span class="plus"><div class="amount_plus amount_plus_right"><a href="#" class="icon icon-pluss">+</a></div></span></div></td>';
                          totalCartItems += '<td class="taste_tovarov_content">' + cartTable[items][5] + '</td>';
                          if (cartTable[items][4] !== 0) {
                          totalCartItems += '<td class="price_tovarov_content"> <span class="cena_sale"> ' + cartTable[items][1] + ' руб.</span> <br> <span class="cena_old"> ' + cartTable[items][4] + ' руб.</span> </td>';
                          } else {
                          totalCartItems += '<td class="price_tovarov_content"> <span class="price_tovar_standart"> ' + cartTable[items][1] + ' руб.</span></td>';
                          }
                          totalCartItems += '<td class="delete"><!--<a href="?del_cart='+ cartTable[0] +'" title="Удалить товар из корзины"> Удалить </a>--><!--<button id="delete_item_cart[' + cartTable[items][6] + ']">Удалить товар</button></td>';
                          
                          for(var i = 0; i < cartTable[items].length; i++){
                            //totalCartItems += '<td>' + cartTable[items][i] + '</td>';
                          }
                          totalCartItems += '</tr>';
                        }
                        totalCartItems += '<tr class="footer_cart"><td></td><td></td><td></td><td class="itogo"> Итого: </td><td class="itogo_cena">'+ amountPrice +' руб. </td><td class="clear_cart"><!--<a href="?clear_cart=ok" title="Очистить корзину" id="clear_cart"> Очистить корзину </a>--><!--<button id="clear_cart">Очистить корзину</button></td></tr>';
                        totalCartItems += '</table>';
                        my_cart.innerHTML = totalCartItems;
                      }
                      
                      */
                      
                   /* Удалить товар из корзины */
                   addEvent(d.getElementById('delete_item_cart[cartData[itemId]]'), 'click', function(e){
                       localStorage.removeItem('cart');
                   });
                                            
                   /* Открыть корзину */
                       //addEvent(d.getElementById('checkout'), 'click', openCart);
                      
                   /* Очистить корзину */
                    addEvent(d.getElementById('clear_cart'), 'click', function(e){
                       //localStorage.removeItem('cart');
                       localStorage.clear();
                       cartCont.innerHTML = '<p style="font-size:18px;"><br> В настоящей момент Ваша корзина пуста. <a href="../katalog.php"> Перейти в каталог.</a></p>';
                    });
                                            
             </script>
             
             <script>
               var cartValue = getCartData();
               var amountValue = 0;
               var amountPrice = 0;
               for(var items in cartValue){
                 console.log(cartValue[items]);
                 console.log(cartValue[items][2]);
                 amountValue += cartValue[items][2];
                 amountPrice += cartValue[items][1] * cartValue[items][2];
               }  
               document.getElementById("total_amount_mobile").innerHTML = amountValue;
               document.getElementById("total_amount").innerHTML = amountValue;
               document.getElementById("total_price").innerHTML = amountPrice; 
             </script> 
             
             
             <script>
               var totalCartItems = ''
               var cartTable = getCartData();
               if(cartTable !== null){
               totalCartItems = '<table class="my_cart_tovary"><tr class="title_cart"><td class="tovar"> Товар </td><td class="name_tovarov"> Название </td><td class="amount_tovarov"> Количество </td><td class="taste_tovarov"> Вкус, объём или размер </td><td class="price_tovarov"> Цена </td><td class="action"> Действие </td></tr>';
                        for(var items in cartTable){
                          totalCartItems += '<tr>';
                          totalCartItems += '<td class="photo_tovarov"><img src="../photos/'+ cartTable[items][3] +'" width="60" height="80"/></td>';
                          totalCartItems += '<td class="name_tovarov_content"><a href="../products/'+ cartTable[items][0] +'">'+ cartTable[items][0] +' гр. </a></td>';
                          totalCartItems += '<td class="amount_tovarov_content"><div class="amount_cart"><span class="minus"><div class="amount_minus amount_minus_right"><a href="#" class="icon icon-minuss">–</a></div></span><div class="amount_text"><input type="text" value="' + cartTable[items][2] + '" name="kol[149]" size="5"></div><span class="plus"><div class="amount_plus amount_plus_right"><a href="#" class="icon icon-pluss">+</a></div></span></div></td>';
                          totalCartItems += '<td class="taste_tovarov_content">' + cartTable[items][5] + '</td>';
                          if (cartTable[items][4] !== 0) {
                          totalCartItems += '<td class="price_tovarov_content"> <span class="cena_sale"> ' + cartTable[items][1] + ' руб.</span> <br> <span class="cena_old"> ' + cartTable[items][4] + ' руб.</span> </td>';
                          } else {
                          totalCartItems += '<td class="price_tovarov_content"> <span class="price_tovar_standart"> ' + cartTable[items][1] + ' руб.</span></td>';
                          }
                          totalCartItems += '<td class="delete"><!--<a href="?del_cart='+ cartTable[0] +'" title="Удалить товар из корзины"> Удалить </a>--><!--<button id="delete_item_cart[' + cartTable[items][6] + ']">Удалить товар</button></td>';
                          
                          for(var i = 0; i < cartTable[items].length; i++){
                            //totalCartItems += '<td>' + cartTable[items][i] + '</td>';
                          }
                          totalCartItems += '</tr>';
                        }
                        totalCartItems += '<tr class="footer_cart"><td></td><td></td><td></td><td class="itogo"> Итого: </td><td class="itogo_cena">'+ amountPrice +' руб. </td><td class="clear_cart"><!--<a href="?clear_cart=ok" title="Очистить корзину" id="clear_cart"> Очистить корзину </a>--><!--<button id="clear_cart">Очистить корзину</button></td></tr>';
                        totalCartItems += '</table>';
                        my_cart.innerHTML = totalCartItems;
                      }  
                      
             </script>  
             
             
             <script>
               
               // Открываем корзину со списком добавленных товаров
                  /*  function openCart(e){
                      var cartData = getCartData(), // вытаскиваем все данные корзины
                          totalItems = '';
                      // если что-то в корзине уже есть, начинаем формировать данные для вывода
                      if(cartData !== null){
                        totalItems = '<table class="shopping_list"><tr><th>Наименование</th><th>Цена</th><th>Кол-во</th></tr>';
                        for(var items in cartData){
                          totalItems += '<tr>';
                          for(var i = 0; i < cartData[items].length; i++){
                            totalItems += '<td>' + cartData[items][i] + '</td>';
                          }
                          totalItems += '</tr>';
                        }
                        totalItems += '</table>';
                        cartCont.innerHTML = totalItems;
                      } else {
                        // если в корзине пусто, то сигнализируем об этом
                        cartCont.innerHTML = 'В корзине пусто!';
                      }
                      return false;
                    } */
                    /* Открыть корзину */
                   /*	 addEvent(d.getElementById('checkout'), 'click', openCart); */
                    /* Очистить корзину */
                   /*  addEvent(d.getElementById('clear_cart'), 'click', function(e){
                      localStorage.removeItem('cart');
                      cartCont.innerHTML = 'Корзина очишена.';
                    }); */
               
             </script>-->  
             
             </div>
       </div> 
         
       <div class="col-md-12 d-none d-sm-block">               
           <div id="load">
			  <div>Загрузить еще</div>
				<img src="../img/loading.gif" id="imgLoad">
           </div>
       </div>
         
      </div>
      <div class="col-12 d-block d-sm-none">
       <h3 style="text-align:center; margin:20px 0px;">Товары недели</h3>
        <div class="owl-carousel slider-1">
          
        <?php  
          $res = $db->query("SELECT * FROM tovary WHERE tovar_week='1' AND product_availability='1' LIMIT 12");
          //$res = $db->query("SELECT * FROM tovary WHERE tovar_week='1' AND product_availability='1' LIMIT 12");
          while($tovar_week_mobile = mysqli_fetch_assoc($res)){
            if ($tovar_week_mobile['cena_sale']==0) 
				{        
					$bonus=$tovar_week_mobile['cena']*2/100;
					$bonus=ceil($bonus);  
				} else if ($tovar_week_mobile['cena_sale']!==0) 
				{
					$bonus=$tovar_week_mobile['cena_sale']*2/100;
					$bonus=ceil($bonus); 
				}  
  
			if ($tovar_week_mobile['mass']=='0') $tovar_week_mobile['mass']='';  
			$preference = explode(",", $tovar_week_mobile[preference]);
            foreach($preference as $tovar_week_mobile[preference]) {}
            
          echo "<div class='item_box' style='border:0px solid #222;'>
            
            <div class='container-fluid'> 
             <div class='tovar-week'>
              <!--<form action='' method='post' class='tovary_week_form'>-->
              <div class='item_box'>
                <div class='item'>
                 <div class='item-cont'>
                   <span class='vendor'> $tovar_week_mobile[nazv] </span>
                   <div class='picture'>
                   <a href='../catalog.php?product_eng=$tovar_week_mobile[product_eng]&category_eng=$tovar_week_mobile[category_eng]&manuf_eng=$tovar_week_mobile[manuf]&nazv=$tovar_week_mobile[nazv]&mass=$tovar_week_mobile[mass]&id=$tovar_week_mobile[id]'>
                     <img src='../photos/$tovar_week_mobile[photo]' style='height: 100px; margin-left:5px;' />
                   </a>
                   </div>
                   <div class='title_tovar'>
                    <p>
                     <a href='../catalog.php?product_eng=$tovar_week_mobile[product_eng]&category_eng=$tovar_week_mobile[category_eng]&manuf_eng=$tovar_week_mobile[manuf]&nazv=$tovar_week_mobile[nazv]&mass=$tovar_week_mobile[mass]&id=$tovar_week_mobile[id]'>$tovar_week_mobile[nazv] </a>
                    </p>
                   </div>
                   <div class='price'>
                   <br/>";
                      if ($tovar_week_mobile[cena_sale]!=0) {

                        echo "<br/><span class='price_tovar'> $tovar_week_mobile[cena_sale] руб. </span>
                        <br/><span class='old_price_tovar' > $tovar_week_mobile[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";

                      } else { 

                        echo "<br/><span class='price_tovar_standart' > $tovar_week_mobile[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";  

                      }                  
                echo "</div>
                   <div>
                    <span class='summary'> $tovar_week_mobile[category], $tovar_week_mobile[mass] $tovar_week_mobile[unit]. </span>
                   </div>  
                 </div>
                 <div class='buy_tovar'>";
                  echo "<select name='preference[$tovar_week_mobile[id]]' id='item_preference[$tovar_week_mobile[id]]'>";
	  
						foreach($preference as $tovar_week_mobile[preference])
    						{
        						echo "<option value='$tovar_week_mobile[preference]'>$tovar_week_mobile[preference]</option>";
    						}
				  echo "</select>";
                 echo "</div>  
                 <div class='buy_tovar'>  
                   <div class='amount'>
                    <span class='minus'>
                     <div class='amount_minus amount_minus_right'>
                       <a href='#' class='icon icon-minuss'>–</a>
                     </div>
                    </span>
                 <div class='amount_text'>
                  <input type='text' value='1' name='kol[$tovar_week_mobile[id]]' class='amount' id='kol[$tovar_week_mobile[id]]' size='5' />
                 </div>
                  <span class='plus'>
                    <div class='amount_plus amount_plus_right'>
                     <a href='#' class='icon icon-pluss'>+</a>
                    </div>
                  </span>
                 </div>";
                 /*<div class='buy' id='btn-click'>
	               <a href='?submit_buy=$tovar_week[id]'>
                    <button name='submit_buy' value='$tovar_week[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week[id]' data-price='$tovar_week[cena_sale]' data-title='$tovar_week[nazv], $tovar_week[mass] $tovar_week[unit]' data-img='$tovar_week[photo]'></button>
                   </a>      
                 </div>*/
                 
                 if ($tovar_week_mobile[cena_sale]!=0) {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_week_mobile[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week_mobile[id]' data-price='$tovar_week_mobile[cena_sale]' data-old-price='$tovar_week_mobile[cena]' data-title='$tovar_week_mobile[nazv], $tovar_week_mobile[mass] $tovar_week_mobile[unit]' data-img='$tovar_week_mobile[photo]'></button>
                 </div>";
                 } else {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_week_mobile[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week_mobile[id]' data-price='$tovar_week_mobile[cena]' data-old-price='0' data-title='$tovar_week_mobile[nazv], $tovar_week_mobile[mass] $tovar_week_mobile[unit]' data-img='$tovar_week_mobile[photo]'></button>
                 </div>";
                 }
                 
               echo "</div>
              </div>  
              <!--</form>-->
             </div>        
            </div>
           </div>
          </div>";
                     
            }
          ?>
          <!--<div class="item" style="border:1px solid #222;"><img src="" alt="" />2</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />3</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />4</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />5</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />6</div>-->
          <!--<div class="owl-nav">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
          </div>-->
        </div>      
      </div>
      <div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Товары дня</h3>
        <div class="owl-carousel slider-2">
          <?php  
          $res = $db->query("SELECT * FROM tovary WHERE tovar_day='1' AND product_availability='1' LIMIT 6");
          //$res = $db->query("SELECT * FROM tovary WHERE tovar_day='1' AND product_availability='1' LIMIT 6");
          while($tovar_day = mysqli_fetch_assoc($res)){
            if ($tovar_day['cena_sale']==0) 
				{        
					$bonus=$tovar_day['cena']*2/100;
					$bonus=ceil($bonus);  
				} else if ($tovar_day['cena_sale']!==0) 
				{
					$bonus=$tovar_day['cena_sale']*2/100;
					$bonus=ceil($bonus); 
				}   
  
			if ($tovar_day['mass']=='0') $tovar_day['mass']='';  
			$preference = explode(",", $tovar_day[preference]);
            foreach($preference as $tovar_day[preference]) {}
            
          echo "<div class='item' style='border:0px solid #222;'>
            
            <div class='container-fluid'> 
             <div class='tovar-week'>
              <!--<form action='' method='post' class='tovary_week_form'>-->
              <div class='item_box'>
                <div class='item'>
                 <div class='item-cont'>
                   <span class='vendor'> $tovar_day[nazv] </span>
                   <div class='picture'>
                   <a href='../catalog.php?product_eng=$tovar_day[product_eng]&category_eng=$tovar_day[category_eng]&manuf_eng=$tovar_day[manuf]&nazv=$tovar_day[nazv]&mass=$tovar_day[mass]&id=$tovar_day[id]'>
                     <img src='../photos/$tovar_day[photo]' style='height: 100px; margin-left:5px;' />
                   </a>
                   </div>
                   <div class='title_tovar'>
                    <p>
                     <a href='../catalog.php?product_eng=$tovar_day[product_eng]&category_eng=$tovar_day[category_eng]&manuf_eng=$tovar_day[manuf]&nazv=$tovar_day[nazv]&mass=$tovar_day[mass]&id=$tovar_day[id]'>$tovar_day[nazv] </a>
                    </p>
                   </div>
                   <div class='price'>
                   <br/>";
                      if ($tovar_day[cena_sale]!=0) {

                        echo "<br/><span class='price_tovar'> $tovar_day[cena_sale] руб. </span>
                        <br/><span class='old_price_tovar' > $tovar_day[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";

                      } else { 

                        echo "<br/><span class='price_tovar_standart' > $tovar_day[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";  

                      }                  
                echo "</div>
                   <div>
                    <span class='summary'> $tovar_day[category], $tovar_day[mass] $tovar_day[unit]. </span>
                   </div>  
                 </div>
                 <div class='buy_tovar'>";
                  echo "<select name='preference[$tovar_day[id]]' id='item_preference[$tovar_day[id]]'>";
	  
						foreach($preference as $tovar_day[preference])
    						{
        						echo "<option value='$tovar_day[preference]'>$tovar_day[preference]</option>";
    						}
				  echo "</select>";
                 echo "</div>  
                 <div class='buy_tovar'>  
                   <div class='amount'>
                    <span class='minus'>
                     <div class='amount_minus amount_minus_right'>
                       <a href='#' class='icon icon-minuss'>–</a>
                     </div>
                    </span>
                 <div class='amount_text'>
                  <input type='text' value='1' name='kol[$tovar_day[id]]' class='amount' id='kol[$tovar_day[id]]' size='5' />
                 </div>
                  <span class='plus'>
                    <div class='amount_plus amount_plus_right'>
                     <a href='#' class='icon icon-pluss'>+</a>
                    </div>
                  </span>
                 </div>";
                 /*<div class='buy' id='btn-click'>
	               <a href='?submit_buy=$tovar_week[id]'>
                    <button name='submit_buy' value='$tovar_week[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week[id]' data-price='$tovar_week[cena_sale]' data-title='$tovar_week[nazv], $tovar_week[mass] $tovar_week[unit]' data-img='$tovar_week[photo]'></button>
                   </a>      
                 </div>*/
                 
                 if ($tovar_day[cena_sale]!=0) {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_day[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_day[id]' data-price='$tovar_day[cena_sale]' data-old-price='$tovar_day[cena]' data-title='$tovar_day[nazv], $tovar_day[mass] $tovar_day[unit]' data-img='$tovar_day[photo]'></button>
                 </div>";
                 } else {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_day[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_day[id]' data-price='$tovar_day[cena]' data-old-price='0' data-title='$tovar_day[nazv], $tovar_day[mass] $tovar_day[unit]' data-img='$tovar_day[photo]'></button>
                 </div>";
                 }
                 
               echo "</div>
              <!--</form>-->
             </div> 
             </div>        
            </div>
           </div>
          </div>";
                     
            }
          ?>
          <!--<div class="item" style="border:1px solid #222;"><img src="" alt="" />2</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />3</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />4</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />5</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />6</div>-->
          <!--<div class="owl-nav">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
          </div>-->
        </div>
      </div>
      <div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Новинки</h3>
        <div class="owl-carousel slider-3">
          <?php  
          $res = $db->query("SELECT * FROM tovary WHERE tovar_new='1' AND product_availability='1' LIMIT 6");
          //$res = $db->query("SELECT * FROM tovary WHERE tovar_day='1' AND product_availability='1' LIMIT 6");
          while($tovar_new = mysqli_fetch_assoc($res)){
            if ($tovar_new['cena_sale']==0) 
				{        
					$bonus=$tovar_new['cena']*2/100;
					$bonus=ceil($bonus);  
				} else if ($tovar_new['cena_sale']!==0) 
				{
					$bonus=$tovar_new['cena_sale']*2/100;
					$bonus=ceil($bonus); 
				} 
  
			if ($tovar_new['mass']=='0') $tovar_new['mass']='';  
			$preference = explode(",", $tovar_new[preference]);
            foreach($preference as $tovar_new[preference]) {}
            
          echo "<div class='item' style='border:0px solid #222;'>
            
            <div class='container-fluid'> 
             <div class='tovar-week'>
              <!--<form action='' method='post' class='tovary_week_form'>-->
              <div class='item_box'>
                <div class='item'>
                 <div class='item-cont'>
                   <span class='vendor'> $tovar_new[nazv] </span>
                   <div class='picture'>
                   <a href='../catalog.php?product_eng=$tovar_new[product_eng]&category_eng=$tovar_new[category_eng]&manuf_eng=$tovar_new[manuf]&nazv=$tovar_new[nazv]&mass=$tovar_new[mass]&id=$tovar_new[id]'>
                     <img src='../photos/$tovar_new[photo]' style='height: 100px; margin-left:5px;' />
                   </a>
                   </div>
                   <div class='title_tovar'>
                    <p>
                     <a href='../catalog.php?product_eng=$tovar_new[product_eng]&category_eng=$tovar_new[category_eng]&manuf_eng=$tovar_new[manuf]&nazv=$tovar_new[nazv]&mass=$tovar_new[mass]&id=$tovar_new[id]'>$tovar_new[nazv] </a>
                    </p>
                   </div>
                   <div class='price'>
                   <br/>";
                      if ($tovar_new[cena_sale]!=0) {

                        echo "<br/><span class='price_tovar'> $tovar_new[cena_sale] руб. </span>
                        <br/><span class='old_price_tovar' > $tovar_new[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";

                      } else { 

                        echo "<br/><span class='price_tovar_standart' > $tovar_new[cena] руб. </span>
                        <br/><span class='bonus_price_tovar' > + $bonus бонусов </span>";  

                      }                  
                echo "</div>
                   <div>
                    <span class='summary'> $tovar_new[category], $tovar_new[mass] $tovar_new[unit]. </span>
                   </div>  
                 </div>
                 <div class='buy_tovar'>";
                  echo "<select name='preference[$tovar_new[id]]' id='item_preference[$tovar_new[id]]'>";
	  
						foreach($preference as $tovar_new[preference])
    						{
        						echo "<option value='$tovar_new[preference]'>$tovar_new[preference]</option>";
    						}
				  echo "</select>";
                 echo "</div>  
                 <div class='buy_tovar'>  
                   <div class='amount'>
                    <span class='minus'>
                     <div class='amount_minus amount_minus_right'>
                       <a href='#' class='icon icon-minuss'>–</a>
                     </div>
                    </span>
                 <div class='amount_text'>
                  <input type='text' value='1' name='kol[$tovar_new[id]]' class='amount' id='kol[$tovar_new[id]]' size='5' />
                 </div>
                  <span class='plus'>
                    <div class='amount_plus amount_plus_right'>
                     <a href='#' class='icon icon-pluss'>+</a>
                    </div>
                  </span>
                 </div>";
                 /*<div class='buy' id='btn-click'>
	               <a href='?submit_buy=$tovar_week[id]'>
                    <button name='submit_buy' value='$tovar_week[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_week[id]' data-price='$tovar_week[cena_sale]' data-title='$tovar_week[nazv], $tovar_week[mass] $tovar_week[unit]' data-img='$tovar_week[photo]'></button>
                   </a>      
                 </div>*/
                 
                 if ($tovar_new[cena_sale]!=0) {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_new[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_new[id]' data-price='$tovar_new[cena_sale]' data-old-price='$tovar_new[cena]' data-title='$tovar_new[nazv], $tovar_new[mass] $tovar_new[unit]' data-img='$tovar_new[photo]'></button>
                 </div>";
                 } else {
                 echo "<div class='buy' id='btn-click'>
                    <button name='submit_buy' value='$tovar_new[id]' class='btn btn-7 btn-3 btn-icon-only icon-cart add_item' data-id='$tovar_new[id]' data-price='$tovar_new[cena]' data-old-price='0' data-title='$tovar_new[nazv], $tovar_new[mass] $tovar_new[unit]' data-img='$tovar_new[photo]'></button>
                 </div>";
                 }
                 
               echo "</div>
              </div>  
              <!--</form>-->
             </div>        
            </div>
            </div>
          </div>";
                     
            }
          ?>
          <!--<div class="item" style="border:1px solid #222;"><img src="" alt="" />2</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />3</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />4</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />5</div>
          <div class="item" style="border:1px solid #222;"><img src="" alt="" />6</div>-->
          <!--<div class="owl-nav">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
          </div>-->
        </div>      
      </div>
      <!--<div class="col-md-12">
       
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="send.php" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="oplata.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="katalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="sale.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>-->
     
    </div>
    <?php require("templates/right-menu.php"); ?>
  </div>
</div>

<div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Наши преимущества</h3>
    <div class="container">
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="../delivery.html" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="../payment.html" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="../catalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="../stock.html" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>
</div>

<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;"><h3 style="text-align:center; margin:20px 0px;">Адреса магазинов</h3>
     <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SBMCoFRtTod7zUZ_Uiq5nC_qNqtHBwjN&width=100%&height=550">        </script>
    </div>
  </div>
</div>  