<div class="container-fluid" style="">
  <div class="row">
    <div class="col-md-9">
       <div class="row">
         <div class="col-12">
           <div class="">
            
             <nav> 
       		 	<ul class="breadcrumb" style="background-color: #fff !important;">
      				<li class="breadcrumb-item"><a href="../index.php" rel="home"> Главная </a></li>
      				<li class="breadcrumb-item active" aria-current="page"> Акции </li>
      		 	</ul>
             </nav>
             
       		 <!--<ul class="breadcrumbs">
      			<li><a href="index.php" rel="home"> Главная </a></li>
      			<li> Акции </li>
      		 </ul>-->
      
             <h3 style="text-align:center; margin:20px 0px;">Акции</h3>
  
      		<div class="container">
   
      			<div class="img_sale">
      				<a> <img src="../img/skidka.jpg"  width="90" height="60"/> </a>
      			</div>
      			<div class="special_offer">
      				<span class="new_date_sale"> 01 октября 2014 г. </span> 
      				<a href="#">  Товары недели  </a>
      				<br><span style="title_sale"> Каждую неделю мы делаем скидки <b> до 40% </b> на более 20 товаров из нашего каталога. Количество товаров ограничено! </span>
      			</div>

                <hr>

                <div class="img_sale">
                <a> <img src="../img/skidka_20.jpg" width="90" height="60"> </a>
                </div>
                <div class="special_offer">
                <span class="new_date_sale"> 15 октября 2014 г. </span> 
                <a href="#"> Скидка на продукцию компании Optium Nutrition  </a>
                <br><span style="title_sale"> С 15 по 25 октября специальные цены на товары <b> Optium Nutrition </b> из нашего каталога! <b>Скидка 20%!</b> </span>
                </div> 

                <hr>

                <div class="img_sale">
                <a> <img src="../img/all_in.jpg" width="90" height="60"> </a>
                </div>
                <div class="special_offer">
                <span class="new_date_sale"> 01 ноября 2014 г. </span> 
                <a href="#"> Специальные наборы  </a>
                <br><span style="title_sale"> У нас в интернет-магазине Вы можете приобрести специальные наборы спортивного питания <b>(Гейнер + Протеин + Аминокислоты)</b> <b> со скидкой 15%!</b> Торопитесь количество наборов ограничено!</span>
                </div>      
         
      		</div>
   		</div>     
      </div>
	</div>
</div>
    <?php require("templates/right-menu.php"); ?>
</div>
  </div>


<div class="col-md-12"><h3 style="text-align:center; margin:20px 0px;">Наши преимущества</h3>
    <div class="container">
       <div class="row"> 
       
       <div class="col-md-3">
        <div class="advantages">
        <div class="img_advantages"><img src="../img/dolly_1.png" width="55" height="55"></div><div class="text_advantages"> Быстрая доставка </div> 
        <div class="description_advantages"> Гибкие условия доставки по городу и области. Самовывоз из пунктов выдачи по всему городу. Резерв до 5 дней. 
        <br><br><a href="send.php" class=""> Читать далее </a>
        </div>
       </div>
       </div>  
  
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/creditcard_1.png" width="55" height="55"></div><div class="text_advantages"> Способы оплаты </div> 
       <div class="description_advantages"> Вы можете оплатить товар наличными, безналичным платёжом или электронными деньгами. 
       <br><br><a href="oplata.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">
       <div class="advantages">
       <div class="img_advantages"><img src="../img/cart_1.png" width="55" height="55"></div><div class="text_advantages"> Ассортимент </div> 
       <div class="description_advantages"> В нашем магазине Вы можете приобрести товары как отечественных, так и зарубежных производителей. 
       <br><br><a href="katalog.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>  
     
      <div class="col-md-3">   
       <div class="advantages">
       <div class="img_advantages"><img src="../img/money_1.png" width="55" height="55"></div><div class="text_advantages"> Цены на товары </div> 
       <div class="description_advantages"> Вас порадуют цены на товары в нашем магазине. Каждую неделю мы делаем скидки на наиболее популярные товары. 
       <br><br><a href="sale.php" class=""> Читать далее </a>
       </div>
       </div>
      </div>
        
      </div>
     </div>
</div>

<div class="container-fluid" style="border:0px solid #222;">
  <div class="row">
    <div class="col-md-12" style="margin:0; padding:0;"><h3 style="text-align:center; margin:20px 0px;">Адреса магазинов</h3>
     <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SBMCoFRtTod7zUZ_Uiq5nC_qNqtHBwjN&width=100%&height=550">        </script>
    </div>
  </div>
</div>  